html, body{
    padding:0;
    margin:0;
    min-height:100vh;
    background-color: rgba(54, 69, 79, 0.1);
    // background-image: linear-gradient(to bottom left, white, rgb(51,122,183));
}

.login-container{
    height:100vh;
    text-align: center;
    .login-wrapper{
        padding:50px;
        background-color:rgb(240,248,255);
        // border-radius:5px;
        box-shadow: 0 2px 22px 0 rgba(0,0,0,.2), 0 2px 30px 0 rgba(0,0,0,.35);
        h1{
            text-transform: uppercase;
        }
        
        input{
            width:100%;
            padding:10px;
            margin:10px 0px;
            border:solid 1px grey;
            // border-radius:5px;
        }
        input[type=submit]{
            background-color:rgb(51,122,183);
            color:white;
            font-weight:600;
            border:none;
            text-transform: uppercase;
        }
        select{
            padding:10px;
            margin:10px 0px;
            border:solid 1px rgb(207, 207, 207);
        }
        div{
            display:block;
            text-align: left;
        }
    }
    .invoice-wrapper{
        padding:50px;
        background-color:rgb(240,248,255);
        // border-radius:5px;
        box-shadow: 0 2px 22px 0 rgba(0,0,0,.2), 0 2px 30px 0 rgba(0,0,0,.35);
        h1{
            text-transform: uppercase;
        }
        input{
            padding:10px;
            margin:10px 0px;
            border:solid 1px rgb(207, 207, 207);
            // border-radius:5px;
        }
        input[type=submit]{
            background-color:rgb(51,122,183);
            color:white;
            font-weight:600;
            border:none;
            text-transform: uppercase;
            width:90%;
        }
        input[type=button]{
            background-color:rgb(51,122,183);
            color:white;
            font-weight:600;
            border:none;
            text-transform: uppercase;
        }
        select{
            padding:10px;
            margin:10px 0px;
            border:solid 1px rgb(207, 207, 207);
        }
        .labels{
            display:flex;
            justify-content: flex-start;
            label{
                margin-right:148px;
            }
            label:first-child{
                margin-right:270px;
            }
            label:last-child{
                margin-right:0px;
            }
        }
    }
}
