<form action="/invoice" method="post">
    <select name="sup" id="SupSelect">
        <option value="Africa">Africa</option>
    </select>
    <select name="client" id="clientSelect">
        <option value="Scuderia">Scuderia</option>
    </select>
    <input type="submit">
</form>