<div class="container-fluid login-container d-flex align-items-center justify-content-center">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="login-wrapper col-12">
            <h1>Client and Supplier</h1>
            <div class="form-wrapper">
                <form action="/invoice" method="post">
                    <select name="sup" id="SupSelect">
                        <option value="Africa">Africa</option>
                    </select>
                    <select name="client" id="clientSelect">
                        <option value="Scuderia">Scuderia</option>
                    </select>
                    <input type="submit">
                </form>
            </div>
        </div>
    </div>
</div>


