<div class="container-fluid top-nav">
    <form class='logout' action="/logout" method="post">
        <input class="btn btn-default btn-rounded mb-4 waves-effect waves-light" type="submit" value="Logout">
    </form>
</div>
<div class="container login-container d-flex align-items-center justify-content-center">
    <div class="row d-flex align-items-center justify-content-center">
        <div class="invoice-wrapper col-12">
            <h1>Datasmart Solutions</h1>
            <div class="form-wrapper">
                <form action="">
                    <input type="submit" value="Reports" class="btn btn-default btn-rounded mb-4 waves-effect waves-light">
                </form>
                <form action="">
                    <input type="submit" value="User Admin" class="btn btn-default btn-rounded mb-4 waves-effect waves-light">
                </form>
                <form action="/chooseClient" method="post">
                    <input class="btn btn-default btn-rounded mb-4 waves-effect waves-light" type="submit" value="New Transaction">
                </form>
            </div>
        </div>
    </div>
</div>