<script>

$(document).ready(() => {
    $('#getReport').click(() => {
        $('tr').remove();
        $.ajax({
        url: 'reports/reportsData/',
        type: 'GET',
        dataType: 'json',
        success: (data) => {
                var count = 0;
               var jsonData = data[0][0];
               var markup = "<tr><th>Heading</th><th>data</th></tr>"
               $('tbody').append
               for(var prop in jsonData){
                   var markup = "<tr><th>"+prop+"</th><td>"+jsonData[prop]+"</td></tr>"
                   console.log(count +" "+ jsonData[prop])
                   $('tbody').append(markup);
               }
            }   
        })
    })
})

   
</script>
<div class="container report-container" style="height:100vh">
    <button id="getReport">getReport</button>
                <button id="getReport">getReport</button>
    <div class="row reports-row" style="width:100%">
        <div class="report-content col-6">
            <div class="row">
                <div class="col-12">
                   
                    <table id="reports-table" class="table table-striped table-responsive-md">
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="report-content col-6">
            <div class="row">
                <div class="col-12">
                    <table id="reports-table" class="table table-striped table-responsive-md">
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

